@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafc; /* Tailwind bg-gray-100 ou similar */
  color: #333; /* Cor do texto principal */
  line-height: 1.6;
}